
<link rel="stylesheet" href="/css/login.css"/>
<div class="login-box">
  <h1>Student Signup</h1>
  <form action="/studentsignin/" method="POST">
    <div class="user-box">
      <input type="text" name="name" required="">
      <label>Name</label>
    </div>
    <div class="user-box">
      <input type="text" name="regno" required="">
      <label>Registration No</label>
    </div>
    <div class="user-box">
        <input type="email" name="emailid" required="">
        <label>EmailId</label>
      </div>
      <div class="user-box">
        <input type="text" name="contactno" required="">
        <label>Contact No</label>
      </div>
      <div class="user-box">
        <input type="password" name="password" required="">
        <label>Password</label>
      </div>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    <input type="submit" value="submit" >
  </form>
</div> 